body {
    background-color: #000000;
    display: flex;
}

p, h1, h3 {
    color: #ff0000;
    text-align: justify;
    
}

#centro {
    color: #ffffff;
    display: block;
    justify-items: center;
}

.centro{
    display: flex;
    align-items: center;
}
